<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather-icon.jpg">

    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div class="main-content">
{{>header}}
<img src="/img/me.jpg" alt="Image of Goffa" class="portrait">
<p>Created by {{name}}</p>
</div>
{{>footer}}
</body>
</html>